<h2>Add new post</h2>
<p>

	<form action="/new">
		<div>
			<textarea class="form-control" rows="5"></textarea>
		</div>
		<br>
		<div>
			<button type="submit" class="btn btn-primary" >Submit</button>
		</div>
	</form>
</p>