<h2>Add new post</h2>
<p>

	<form action="/new" method="POST">
		<div>
			<textarea name="content" class="form-control" placeholder="Type post text here" rows="5" style="width: 400px"></textarea>
		</div>
		<br>
		<div>
			<button type="submit" class="btn btn-primary" >Submit</button>
		</div>
	</form>
</p>